textarea{
     resize: none
 }

.mask{
    width:100%;
    height:100%;
    background-color:#FFF;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 2000;
}
ul.sidebar-menu li ul.sub li a.active{
    color: #68dff0;
    background: transparent;
}
textarea.submit{
    height: 15em;
}