<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" href="css/table-responsive.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="mask" class="mask"></div>
<section id="container">
    <!--上方导航条-->
    <header class="header black-bg">
        <!--右侧导航条开关-->
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo-->
        <a class="logo"><b>作业管理系统</b></a>
        <!--菜单栏项目-->
        <div class="top-menu">
            <!--菜单栏右侧-->
            <ul class="nav pull-right top-menu">
                <!--logout键-->
                <li><button id="logout" class="logout">Logout</button></li>
            </ul>
        </div>
    </header>
    <!--右侧导航条-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!--导航条项目（引入html文件）-->

        </div>
    </aside>
    <!--主界面-->
    <section id="main-content">
        <!--引入html文件-->

    </section>
    <!--footer-->
    <footer class="site-footer">
        <div class="text-center">
            要不是为了交作业
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>

</section>

<!--javascript包-->
<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/common-scripts.js"></script>
<script src="js/main.js"></script>
</body>
</html>